@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    font-family: 'Balsamiq Sans', cursive;
    background: #0f6d0a;
    
    
}


.logo{
    height: 75px;
    float: left;
}
.navbar{
    display: flex;
    background-color: rgb(179, 179, 179);
    
    overflow: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    float: right;
    align-items: center;
}
.navbar ul li{
    float: left;
}

.navbar ul li a{
    display: block;
    color: black;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}
.navbar ul li a:hover{
    background-color: whitesmoke;
    color: #333;
    border-radius: 5px;
}



/*Grid*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    row-gap: 10px;
    column-gap: 10px;
    margin: 10px;
}
.project{
    grid-column: 1 / 4;
    padding: 10px 30px;
    border: 2px solid black;
    border-radius: 15px;
    
    background: #c5f0c2;

}
.work{
    grid-column: 1 / 4;
    padding: 10px 30px;
    border: 2px solid black;
    border-radius: 15px;
    
    background: #c5f0c2;
}
.work ul{
    list-style: none;
    margin: 0;
    float: center;
    align-items: center;
    
}
.work ul li{
    float: left;
}
.work ul li a{
    text-decoration: none;
    display: block;
    color: black;
    background-color: slategrey;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    margin: 10px 10px ;
    border-radius: 5px;
}

.work ul li a:hover{
    background-color: whitesmoke;
    color: #333;
    border-radius: 5px;
}



